@media print {
    div {
        display: none;
    }
}

@media screen {
    div {
        height: 25px;
        display: inline;
    }
}

div {
    background-color: black;
    padding: 2.5px;
    color: greenyellow;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}

div.button {
    padding: 2.5px;
    height: 20px !important;
    cursor: pointer;
    position: relative;
}