<p>Math Worksheet Settings</p>

<div>
  <label for="ProblemsPerPage">Problems Per Page: </label>
  <input id="ProblemsPerPage" [(ngModel)]="settings.ProblemsPerPage" type="number" (ngModelChange)="storeSettings()"
    placeholder="0">
</div>
<div>
  <label>Answers Must be between </label>
  <input id="MinAnswer" [(ngModel)]="settings.MinAnswer" type="number" (ngModelChange)="storeSettings()"
    placeholder="0">
  and
  <input id="MaxAnswer" [(ngModel)]="settings.MaxAnswer" type="number" (ngModelChange)="storeSettings()"
    placeholder="0">
</div>
<div>
  <ul>
    <li><input [(ngModel)]="settings.Operations.Add" type="checkbox" (ngModelChange)="storeSettings()" /><label> Addition</label> </li>
    <li><input [(ngModel)]="settings.Operations.Subtract" type="checkbox" (ngModelChange)="storeSettings()" /><label> Subtraction</label> </li>
    <li><input [(ngModel)]="settings.Operations.Multiply" type="checkbox" (ngModelChange)="storeSettings()" /><label> Multiply</label> </li>
    <li><input [(ngModel)]="settings.Operations.Divide" type="checkbox" (ngModelChange)="storeSettings()" /><label> Divide</label> </li>
  </ul>
</div>
